
img{
    max-width: 100%;
    height: auto;
}
.logo{
    width: 100px;
}

ul li{
    list-style: none;
}
nav a {
    text-transform: uppercase;
    font-weight: bold;
    color: #ffc107 ;
    border-bottom: 2px solid transparent;

}
nav a:hover{
    border-bottom: 2px solid #ffc107;
    color: #ffc107;
}
.nav-item .active{
    border-bottom: 2px solid #ffc107;
}
.span-title{
    font-weight: bold;
    font-size: 150%;
    color: #ffc107;
}
.bold{
    font-weight: bold;
}
#heading{
    background: black;
}
/* about carousel */
#banner{
    /* height: 60%; */
    background: url("../images/bg/bg-dark.jpg");
    color : white;
    
}



/* footer */
.divid-footer{
border-left: 2px solid #ffc107;
}
footer{
background: #222;
}
.jaune{
    color:  #ffc107;
}
.reseaux-sos img{
    width: 40px;
}
#logo-mail{
    width: 30px;
}
/* page cv */
.formation{
    background: url("../images/bg/dark-graphic.jpg"); 
    background-attachment: fixed;
}
.line{
    padding: 30px 10px;
    position: relative;
}
.line::before{
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 5px;
    background-color: #ffc107;
    left: 50%;
    margin-left: -2.5px;
}
.line li{
    margin-bottom: 20px;
    position: relative;
}
.line li::after{
    clear: both;
    content: " ";
    display: table;
}
.line li::before{
    content: " ";
    display: table;
}
/*icone */
 .line li .badg{
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    
}
/* :: */
.panel-container{
    width: 50%;
    float: left;
}
.panel-container-inverse{
    width: 50%;
    float: right;
}
.line .panel{
    width: 60%;
    float: right;
    margin-right: 40px;
    border: 1px solid #555;
    padding: 20px 25px;
    position: relative;
    background: #fff;
    color: black;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 1px 6px rgba(250,250,0,0.5);
}

.panel-container-inverse .panel{
    float: left;
    margin-left: 40px;
}
.panel::after{
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    content: "";
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
}
.panel-container-inverse .panel::after{
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}




/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px){
    .line{
        padding: 30px 10px;
        position: relative;
    }
    .line::before{
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 5px;
        background-color: #ffc107;
        left: 90%;
        margin-left: -2.5px;
    }

    /*icone */
 .line li .badg{
    position: absolute;
    top: 16px;
    left: 90%;
    margin-left: -15px;
    
}
.panel-container-inverse, .panel-container{
    width: 90%;
    float: left;
}

.panel-container-inverse .panel, .line .panel{
    width: 80%;
    float: right;
    margin-right: 40px;
    border: 10px solid #555;
    padding: 20px 25px;
    position: relative;
    background: #fff;
    color: black;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 1px 6px rgba(250,250,0,0.5);
}
.panel-container-inverse .panel::after{
    border-left-width: 14px;
    border-right-width: 0px;
    left: auto;
    right: -14px;
}

}